# Ignore everything in this directory
*
# Except these files
!.gitignore
!ParticipantData
!excelFilesForMissingDataFill
!README.md
!*.xlsx
!./ParticipantData/Participant1PublicOM/cum_gains_moves_participant1.csv
!./ParticipantData/Participant2Anonymized/cum_gains_moves_participant2.csv